@model IEnumerable<FTL_HRMS.Models.Payroll.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateEmployee.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateEmployee.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
