@model IEnumerable<FTL_HRMS.Models.Hr.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Employee</h1>
        </div>
    </div>
</div>
<header class="panel_header">
    <h2 class="title pull-left">Probation Employee List</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="content-body">
    <div class="row">
        @Html.Partial("~/Views/Shared/WarningMessage.cshtml")
        <div class="col-md-6">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Create", "Employees")'">Add Employee</button>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <button type="button" onclick="location.href='@Url.Action("PrintProbationEmployeeReport", "Reports")'" target="_blank" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-print"></span> Download PDF
                </button>
            </div>
        </div>
        <br /><br />
        <div class="col-md-12 col-sm-12 col-xs-12">
            @{int rowNo = 0;}
            <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Action</th>
                        <th>Education</th>
                        <th>Experience</th>
                        <th>Image</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Father's Name
                        </th>
                        <th>
                            Mother's Name
                        </th>
                        <th>
                            Present Address
                        </th>
                        <th>
                            Permanent Address
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            NID or Birth Cirtificate
                        </th>
                        <th>
                            Driving Licence
                        </th>
                        <th>
                            Passport Number
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Date Of Joining
                        </th>
                        <th>
                            Source Of Hire
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Employee Type
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Gross Salary
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Create Date
                        </th>
                        <th>
                            Updated By
                        </th>
                        <th>
                            Update Date
                        </th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sl</th>
                        <th>Action</th>
                        <th>Education</th>
                        <th>Experience</th>
                        <th>Image</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Father's Name
                        </th>
                        <th>
                            Mother's Name
                        </th>
                        <th>
                            Present Address
                        </th>
                        <th>
                            Permanent Address
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            NID or Birth Cirtificate
                        </th>
                        <th>
                            Driving Licence
                        </th>
                        <th>
                            Passport Number
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Date Of Joining
                        </th>
                        <th>
                            Source Of Hire
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Employee Type
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Gross Salary
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Create Date
                        </th>
                        <th>
                            Updated By
                        </th>
                        <th>
                            Update Date
                        </th>

                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center" width="5%">
                                @(rowNo += 1)
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("MakeParmanent", "Probation", new { id = item.Sl })'">Make Permanent</button>
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Educations", new { employeeId = item.Sl })'">Education</button>
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Experiences", new { employeeId = item.Sl })'">Experience</button>
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Images", new { employeeId = item.Sl })'">Image</button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FathersName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MothersName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PresentAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermanentAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NIDorBirthCirtificate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DrivingLicence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PassportNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfJoining)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SourceOfHire.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Branch.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrossSalary)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateEmployee.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateDate)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>