@model FTL_HRMS.Models.Hr.Education

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Education</h1>
        </div>
    </div>
</div>
<header class="panel_header">
    <h2 class="title pull-left">Delete Education</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="col-md-offset-4">
    <h3>Are you sure you want to delete this?</h3>
    <br />
</div>
<div class="col-md-offset-4">
    <dl class="dl-horizontal">
        <dt>
            Institute Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Board)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            From Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            To Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="btn-group" style="margin-left:10%">
            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Educations", new { employeeId = Model.EmployeeId })'">Back To List</button>
        </div>
        <div class="btn-group" style="margin-left:5%">
            <input type="submit" class="btn btn-danger btn-sm" aria-expanded="false" value="Delete" />
        </div>
    }
</div>
<br />