@model FTL_HRMS.Models.Education

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Education</h1>
        </div>
    </div>
</div>

<header class="panel_header">
    <h2 class="title pull-left">Edit Education</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    @if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["SuccessMsg"]
                        </div>
                    }
                    @if (TempData["WarningMsg"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["WarningMsg"]
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Sl)
                    @Html.HiddenFor(model => model.EmployeeId)
                    <div class="col-md-offset-3">
                        <div class="btn-group col-md-offset-5">
                            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Educations", new { employeeId = Model.EmployeeId })'">Back To List</button>
                        </div>
                        <div>
                            @Html.LabelFor(model => model.InstituteName, "Institute Name", new { @class = "required" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.InstituteName, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                            @Html.ValidationMessageFor(model => model.InstituteName, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.Program, new { @class = "required" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Program, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                            @Html.ValidationMessageFor(model => model.Program, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.FromDate, "From Date", new { @class = "required" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.ToDate, "To Date", new { @class = "required" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.Board)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Board, new { htmlAttributes = new { @class = "form-control", style = "width:50%" } })
                            @Html.ValidationMessageFor(model => model.Board, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.Result, new { @class = "required" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                            @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
                        </div>

                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9" style="margin-left:180px;">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .required:after {
        content: " *";
        font-weight: bold;
        color: red;
    }
</style>