@model IEnumerable<FTL_HRMS.Models.Hr.LeaveCount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
