@model FTL_HRMS.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Account Information</h1>
        </div>
    </div>
</div>
<header class="panel_header">
    <h2 class="title pull-left">Edit Information</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.Partial("~/Views/Shared/WarningMessage.cshtml")
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.HiddenFor(model => model.RoleId)
                    @Html.HiddenFor(model => model.EmailConfirmed)
                    @Html.HiddenFor(model => model.PasswordHash)
                    @Html.HiddenFor(model => model.SecurityStamp)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.PhoneNumberConfirmed)
                    @Html.HiddenFor(model => model.TwoFactorEnabled)
                    @Html.HiddenFor(model => model.LockoutEndDateUtc)
                    @Html.HiddenFor(model => model.LockoutEnabled)
                    @Html.HiddenFor(model => model.AccessFailedCount)
                    @Html.HiddenFor(model => model.CustomUserId)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-offset-3">
                        <div>
                            <div>
                                @Html.LabelFor(model => model.UserName, new { @class = "required" })
                            </div>
                            <div>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.PhoneNumber, "Mobile", new { @class = "required" })
                            </div>
                            <div>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Email, new { @class = "required" })
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <br />
                            <div>
                                <input class="change_password" type="checkbox" style="width:2%" name="change_password" value="1" />
                                <span class="item-text">Change Password</span>
                            </div>
                        </div>
                        <div class="changepassword">
                            <label>Old Password</label>
                            <input name="OldPassword" type="password" class="form-control" style="width:50%" id="oldpassword">
                            <label>New Password</label>
                            <input name="Password" type="password" class="form-control" style="width:50%" id="password">
                            <label>Confirm Password</label>
                            <input name="ConfirmPassword" type="password" class="form-control" style="width:50%" id="confirmPass">
                        </div><br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9" style="margin-left:180px;">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
                                }
        </div>
    </div>
</div>
<script src="~/Content/AdminTemplate/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".changepassword").hide();
    $(".change_password").click(function () {
        if ($(this).is(":checked")) {
            $(".changepassword").show(200);
        } else {
            $(".changepassword").hide(200);
        }
    });
</script>
