@model FTL_HRMS.Models.AccountViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">

        @if (@TempData["ErrLogin"] != null)
        {
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["ErrLogin"]
            </div>
        }
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <h1><a href="#" title="Login Page" tabindex="-1">Human Resource Management System</a></h1>
            <div class="panel panel-primary" style="margin-bottom:40%">
                <div class="panel-heading" style="text-align:center; font-size:18px">CapitaLand Development Limited</div>

                <div class="panel-body">
                    <form name="loginform" id="loginform" action="index.html" method="post">
                        <label style="font-size:18px;color:black; margin-left:2%">Sign In</label>
                        <label style="font-size:13px;color:black; margin-left:2%">to continue to HRMS</label>
                        <label for="user_login">
                            <input type="text" name="UserName" id="user_login" class="input" value="" size="20" required placeholder="username" />
                        </label>
                        <label for="user_pass">
                            <input type="password" name="Password" id="user_pass" class="input" value="" size="20" required placeholder="password" />
                        </label>
                        @*<p class="forgetmenot">
                                <label class="icheck-label form-label" for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever" class="skin-square-orange" checked> Remember me</label>
                            </p>*@
                        <p class="submit">
                            <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-info btn-block" value="Sign In" />
                        </p>
                    </form>
                    <p id="nav">
                        <a class="pull-left" href="@Url.Action("ContactUs", "Account")" style="color: black">Contact Us</a>
                        <a class="pull-right" href="@Url.Action("About", "Account")" style="color: black">About</a>
                        <a class="pull-right" href="@Url.Action("Help", "Account")" style="color: black; margin-right: 3%">Help</a>
                    </p>
                </div>
            </div>
        }
    </div>




