@model FTL_HRMS.Models.Payroll.BonusAndPenalty

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Bonus And Penalties</h1>
        </div>
    </div>
</div>

<header class="panel_header">
    <h2 class="title pull-left">Edit Bonus And Penalties</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.Partial("~/Views/Shared/WarningMessage.cshtml")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Sl)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.UpdateDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.EmployeeId)
                    <div class="col-md-offset-3">
                        <div>
                            <div class="btn-group col-md-offset-5">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "BonusAndPenalties")'">Back To List</button>
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Date, new { @class = "required" })
                            </div>

                            <div>
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Type, new { @class = "required" })
                                @{
                                    List<SelectListItem> listItems = new List<SelectListItem>();
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Bonus",
                                        Value = "Bonus",
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Penalty",
                                        Value = "Penalty"

                                    });
                                }
                            </div>
                            <div>
                                @Html.DropDownListFor(model => model.Type, listItems, "--select--", new { @class = "form-control", style = "width:50%", @required = true })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Amount, new { @class = "required" })
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Remarks, new { @class = "required" })
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", style = "width:50%", @required = true } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-9" style="margin-left:180px;">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    }
        </div>
    </div>
</div>
