@model FTL_HRMS.Models.Weekend

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Weekend</h1>
        </div>
    </div>
</div>
<header class="panel_header">
    <h2 class="title pull-left">Weekend Details</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="col-md-offset-4">
    <br />
    <dl class="dl-horizontal">
        <dt>
            Branch
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>

        <dt>
            Day
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.DayOfWeek)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="btn-group" style="margin-left:10%">
            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Weekends")'">Back To List</button>
        </div>
        <div class="btn-group" style="margin-left:5%">
            <button type="button" class="btn btn-warning btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Edit", "Weekends", new { id = Model.Sl })'">Edit</button>
        </div>
    }
    <br />
</div>