@model FTL_HRMS.Models.Hr.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Employee</h1>

        </div>
    </div>
</div>

<header class="panel_header">
    <h2 class="title pull-left">Add New Employee</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    @if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["SuccessMsg"]
                        </div>
                    }
                    @if (TempData["WarningMsg"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["WarningMsg"]
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.UpdateDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.ParmanentDate)
                    <div class="col-md-offset-8">
                        <div class="btn-group col-md-offset-9">
                            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Employees" )'">Back To List</button>
                        </div>
                    </div>
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">General Information</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle fa fa-chevron-down"></i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4">
                                        <div>
                                            @Html.LabelFor(model => model.Code, new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 1, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.MothersName, "Mother's Name", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.MothersName, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 4, @required = true } })
                                            @Html.ValidationMessageFor(model => model.MothersName, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Gender, new { @class = "required" })
                                        </div>
                                        @{
                                            List<SelectListItem> listItems = new List<SelectListItem>();
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Male",
                                                Value = "Male",
                                            });
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Female",
                                                Value = "Female"

                                            });
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Others",
                                                Value = "Others"
                                            });
                                        }
                                        <div>
                                            @Html.DropDownListFor(model => model.Gender, listItems, "Select Gender", new { @class = "form-control", style = "width:100%", @tabindex = 7, @required = true })
                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.NIDorBirthCirtificate, "NID / Birth Certificate", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.NIDorBirthCirtificate, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 10, @required = true } })
                                            @Html.ValidationMessageFor(model => model.NIDorBirthCirtificate, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.DateOfBirth, "Date Of Birth", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.EmployeeTypeId, "Employee Type", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.DropDownList("EmployeeTypeId", null, "Select Type", htmlAttributes: new { @class = "form-control", style = "width:100%", @tabindex = 16, @required = true })
                                            @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.Label("Department Group", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.DropDownList("DepartmentGroupId", null, "Select Group", htmlAttributes: new { @class = "form-control", style = "width:100%", @id = "ddl_deptgroup", @name = "ddl_deptgroup", @onchange = "LoadDepartment();", @tabindex = 19, @required = true })
                                        </div>
                                        <div>
                                            @Html.Label("Image")
                                        </div>
                                        <div>
                                            <input type="file" name="image1" id="image1" class="form-control" style = "width:100%" tabindex="22"/>
                                        </div>
                                       

                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            @Html.LabelFor(model => model.Name, new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 2, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.PresentAddress,"Present Address", new { @class = "required" })
                                        </div>
                                        <div>
                                            <textarea class="form-control autogrow" cols="5" name="PresentAddress" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 35px; width:100%"  id="present_address" required tabindex="5"></textarea>
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Mobile, new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 8, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.DrivingLicence, "Driving Licence")
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.DrivingLicence, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 11 } })
                                            @Html.ValidationMessageFor(model => model.DrivingLicence, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.SourceOfHireId, "Source Of Hire", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.DropDownList("SourceOfHireId", null, "Select Source", htmlAttributes: new { @class = "form-control", style = "width:100%", @tabindex = 14, @required = true })
                                            @Html.ValidationMessageFor(model => model.SourceOfHireId, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.DateOfJoining, "Date Of Joining", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.DateOfJoining, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 17, @required = true } })
                                            @Html.ValidationMessageFor(model => model.DateOfJoining, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.Label("Department", new { @class = "required" })
                                        </div>
                                        <div>
                                            <select class="form-control" style="width:100%" id="ddl_dept" name="ddl_dept" onchange="LoadDesignation();" tabindex=20 required>
                                                <option value="">Select Department</option>
                                            </select>
                                        </div>
                                        <div>
                                            @Html.Label("Password (at least 6 digits)", new { @class = "required" })
                                        </div>
                                        <div>
                                            <input name="Password" type="password" class="form-control" style="width:100%" id="password" required="required" tabindex="23" onchange="CheckPassword()">
                                        </div>
                                        <br />
                                        <div>
                                            @Html.CheckBoxFor(model => model.IsSpecialEmployee)
                                            @Html.ValidationMessageFor(model => model.IsSpecialEmployee, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.IsSpecialEmployee, "Is Special Employee")
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            @Html.LabelFor(model => model.FathersName, "Father's Name", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.FathersName, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 3, @required = true } })
                                            @Html.ValidationMessageFor(model => model.FathersName, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.PermanentAddress, "Permanent Address", new { @class = "required" })
                                        </div>
                                        <div>
                                            <textarea class="form-control autogrow" cols="5" name="PermanentAddress" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 35px; width:100%" id="permanent_address" required tabindex="6"></textarea>
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Email)
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 9 } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.Label("Passport Number")
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.PassportNumber, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 12 } })
                                            @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.BranchId, "Branch", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.DropDownList("BranchId", null, "Select Branch", htmlAttributes: new { @class = "form-control", style = "width:100%", @tabindex = 15, @required = true })
                                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.GrossSalary, "Gross Salary", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.GrossSalary, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 18, @required = true } })
                                            @Html.ValidationMessageFor(model => model.GrossSalary, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.DesignationId, "Designation", new { @class = "required" })
                                        </div>
                                        <div>
                                            <select class="form-control" style="width:100%" id="ddl_designation" name="ddl_designation" required tabindex=21>
                                                <option value="" selected>Select Designation</option>
                                            </select>
                                        </div>
                                        <div>
                                            @Html.Label("Confirm Password (at least 6 digits)", new { @class = "required" })
                                        </div>
                                        <div>
                                            <input name="ConfirmPassword" type="password" class="form-control" style="width:100%" id="confirmPass" required="required" tabindex="24" onchange="CheckPassword()">
                                        </div>
                                        <br />
                                        <div>
                                            @Html.CheckBoxFor(model => model.ProbationStatus)
                                            @Html.ValidationMessageFor(model => model.ProbationStatus, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.ProbationStatus, "Probation Status")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                <div class="col-md-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Education Information</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle fa fa-chevron-down"></i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="myTable" class="table table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th class = "required">Institute</th>
                                                <th class = "required">Program</th>
                                                <th class = "required">From Date</th>
                                                <th class = "required">To Date</th>
                                                <th>Board</th>
                                                <th class = "required">Result</th>
                                                <th class="action"><i class="fa fa-plus-square"></i>&nbsp;<i class="fa fa-trash-o"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="edu_institute" name="Edu_Institute" placeholder="Institute" />
                                                    </div>                                                    
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="edu_program" name="Edu_Program" placeholder="Program" />
                                                    </div>                                                     
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" style="width:100%" id="edu_fromdate" name="Edu_FromDate" placeholder="FromDate" />
                                                    </div>                                                     
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" style="width:100%" id="edu_todate" name="Edu_ToDate" placeholder="ToDate" />
                                                    </div>                                                     
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="edu_board" name="Edu_Board" placeholder="Board" />
                                                    </div>                                                    
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="edu_result" name="Edu_Result" placeholder="Result" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="addEducation()"><i class="fa fa-plus-square"></i></button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Experience Information</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle fa fa-chevron-down"></i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table id="myTable2" class="table table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th class = "required">Institute</th>
                                                <th class = "required">Address</th>
                                                <th class = "required">From Date</th>
                                                <th class = "required">To Date</th>
                                                <th>Website</th>
                                                <th>Phone</th>
                                                <th class = "required">Designation</th>
                                                <th class="action"><i class="fa fa-plus-square"></i>&nbsp;<i class="fa fa-trash-o"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="exp_institute" name="Exp_Institute" placeholder="Institute" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="exp_address" name="Exp_Address" placeholder="Address" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" style="width:100%" id="exp_fromdate" name="Exp_FromDate" placeholder="FromDate" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="date" class="form-control" style="width:100%" id="exp_todate" name="Exp_ToDate" placeholder="ToDate" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="exp_website" name="Exp_Website" placeholder="Website" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="exp_phone" name="Exp_Phone" placeholder="Phone" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" style="width:100%" id="exp_designation" name="Exp_Designation" placeholder="Designation" />
                                                    </div>
                                                </th>
                                                <th>
                                                    <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="addExperience()"><i class="fa fa-plus-square"></i></button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
                    <div class="form-group">
                        <div class="col-md-12" style="margin-left:45%;">
                            <input type="submit" value="Create" class="btn btn-primary" id="submitBtn" disabled/>
                        </div>
                  </div>
                }
           </div>
    </div>
</div>

<script>
    function CheckPassword() {
        var Password = $('#password').val();
        var ConfirmPassword = $('#confirmPass').val();
        if (ConfirmPassword != "") {
            if (Password != ConfirmPassword) {
                $('#submitBtn').attr("disabled");
                alert("Password doesn't match !!");
            }
            else if (ConfirmPassword.length < 6) {
                $('#submitBtn').attr("disabled");
                alert("Password must be at least 6 characters !!");
            }
            else {
                $('#submitBtn').removeAttr("disabled");
            }
        }
    }

    function LoadDepartment() {
        $.ajax({
            url: '/Departments/GetDepartmentByGroupId',
            method: 'POST',
            data: {
                DepartmentGroupId: $('#ddl_deptgroup').val(),
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#ddl_dept').empty();
                $('#ddl_dept').append($('<option>', {
                    value: '',
                    text: 'Select Department'
                }));
                for (var i = 0; i < response.length; i++) {
                    var opt = new Option(response[i].Name, response[i].Sl);
                    $('#ddl_dept').append(opt);
                }
            }
        });
    };

    function LoadDesignation() {
        $.ajax({
            url: '/Designations/GetDesignationByDeptId',
            method: 'POST',
            data: {
                DepartmentId: $('#ddl_dept').val(),
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#ddl_designation').empty();
                $('#ddl_designation').append($('<option>', {
                    value: '',
                    text: 'Select Designation'
                }));
                for (var i = 0; i < response.length; i++) {
                    var opt = new Option(response[i].Name, response[i].Sl);
                    $('#ddl_designation').append(opt);
                }
            }
        });
    };

    function addEducation() {
        if ($('#edu_institute').val() != "" && $('#edu_program').val() != "" && $('#edu_result').val() != "") {
            $.ajax({
                url: '/Employees/GetSelectedEducation',
                method: 'POST',
                data: {
                    Institute: $('#edu_institute').val(),
                    Program: $('#edu_program').val(),
                    FromDate: $('#edu_fromdate').val(),
                    ToDate: $('#edu_todate').val(),
                    Board: $('#edu_board').val(),
                    Result: $('#edu_result').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable tbody').empty();
                    $('#myTable').find('tbody').append("<tr>" +
                                "<th>" +
                                    "<div class=\"input-group\">"+
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_institute\" name = \"EduInstitute\" placeholder = \"Institute\" />"+
                                    "</div>"+                                
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_program\" name = \"EduProgram\" placeholder = \"Program\" />" +
                                    "</div>" +
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"edu_fromdate\" name = \"EduFromDate\" placeholder = \"FromDate\" />" +
                                    "</div>" +
                                "</th>" +
                                "<th>" +
                                    "<div class=\"input-group\">" +
                                        "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"edu_todate\" name = \"EduToDate\" placeholder = \"ToDate\" />" +
                                    "</div>" +
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_board\" name = \"EduBoard\" placeholder = \"Board\" />" +
                                    "</div>" +                                
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_result\" name = \"EduResult\" placeholder = \"Result\" />" +
                                    "</div>" +                                
                                "</th>" +
                                "<th>" +
                                    "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"addEducation()\"><i class=\"fa fa-plus-square\"></i></button>"+
                                "</th>"+
                            "</tr>")

                    for(var i=0; i<response.length; i++){
                        $('#myTable').find('tbody').append("<tr>"+
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].InstituteName +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Program +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].FromDate +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].ToDate +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Board +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Result +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"deleteFromEduList(" + response[i].Sl + ")\"><i class=\"fa fa-trash-o\"></i></button>"+
                                                        "</td></tr>")
                    }
                    $('#edu_institute').val('');
                    $('#edu_program').val('');
                    $('#edu_fromdate').val('');
                    $('#edu_todate').val('');
                    $('#edu_board').val('');
                    $('#edu_result').val('');
                    $('#edu_institute').focus();
                }
            });
        }
        else {
            alert('Must have to enter intitute,program and result !!');
        }
    };

    function deleteFromEduList(sl) {
        $.ajax({
            url: '/Employees/DeleteFromEduList',
            method: 'POST',
            data: {
                Sl: sl,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable tbody').empty();
                $('#myTable').find('tbody').append("<tr>" +
                            "<th>" +
                                "<div class=\"input-group\">"+
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_institute\" name = \"EduInstitute\" placeholder = \"Institute\" />"+
                                "</div>"+                                
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_program\" name = \"EduProgram\" placeholder = \"Program\" />" +
                                "</div>" +
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"edu_fromdate\" name = \"EduFromDate\" placeholder = \"FromDate\" />" +
                                "</div>" +
                            "</th>" +
                            "<th>" +
                                "<div class=\"input-group\">" +
                                    "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"edu_todate\" name = \"EduToDate\" placeholder = \"ToDate\" />" +
                                "</div>" +
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_board\" name = \"EduBoard\" placeholder = \"Board\" />" +
                                "</div>" +                                
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"edu_result\" name = \"EduResult\" placeholder = \"Result\" />" +
                                "</div>" +                                
                            "</th>" +
                            "<th>" +
                                "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"addEducation()\"><i class=\"fa fa-plus-square\"></i></button>"+
                            "</th>"+
                        "</tr>")

                for(var i=0; i<response.length; i++){
                    $('#myTable').find('tbody').append("<tr>"+
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].InstituteName +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Program +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].FromDate +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ToDate +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Board +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Result +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"deleteFromEduList(" + response[i].Sl + ")\"><i class=\"fa fa-trash-o\"></i></button>"+
                                                    "</td></tr>")
                }
            }
        });
    };

    function addExperience() {
        if ($('#exp_institute').val() != "" && $('#exp_address').val() != "" && $('#exp_designation').val() != "") {
            $.ajax({
                url: '/Employees/GetSelectedExperience',
                method: 'POST',
                data: {
                    Institute: $('#exp_institute').val(),
                    Address: $('#exp_address').val(),
                    FromDate: $('#exp_fromdate').val(),
                    ToDate: $('#exp_todate').val(),
                    Website: $('#exp_website').val(),
                    Phone: $('#exp_phone').val(),
                    Designation: $('#exp_designation').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable2 tbody').empty();
                    $('#myTable2').find('tbody').append("<tr>" +
                                "<th>" +
                                    "<div class=\"input-group\">"+
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_institute\" name = \"ExpInstitute\" placeholder = \"Institute\" />"+
                                    "</div>"+                                
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_address\" name = \"EduAddress\" placeholder = \"Address\" />" +
                                    "</div>" +
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"exp_fromdate\" name = \"ExpFromDate\" placeholder = \"FromDate\" />" +
                                    "</div>" +
                                "</th>" +
                                "<th>" +
                                    "<div class=\"input-group\">" +
                                        "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"exp_todate\" name = \"ExpToDate\" placeholder = \"ToDate\" />" +
                                    "</div>" +
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_website\" name = \"ExpWebsite\" placeholder = \"Website\" />" +
                                    "</div>" +                                
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_phone\" name = \"EduPhone\" placeholder = \"Phone\" />" +
                                    "</div>" +                                
                                "</th>" +
                                "<th>" +
                                     "<div class=\"input-group\">" +
                                        "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_designation\" name = \"EduDesignation\" placeholder = \"Designation\" />" +
                                    "</div>" +                                
                                "</th>" +
                                "<th>" +
                                    "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"addExperience()\"><i class=\"fa fa-plus-square\"></i></button>"+
                                "</th>"+
                            "</tr>")

                    for(var i=0; i<response.length; i++){
                        $('#myTable2').find('tbody').append("<tr>"+
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].InstituteName +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].InstituteAddress +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].FromDate +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].ToDate +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Website +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Phone +"</label>"+
                                                            "</div>" +
                                                        "</td>" +
                                                                                                                "<td>" +
                                                            "<div class=\"input-group\">" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Designation +"</label>"+
                                                            "</div>" +
                                                        "</td>" +

                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"deleteFromExpList(" + response[i].Sl + ")\"><i class=\"fa fa-trash-o\"></i></button>"+
                                                        "</td></tr>")
                    }
                    $('#exp_institute').val('');
                    $('#exp_address').val('');
                    $('#exp_fromdate').val('');
                    $('#exp_todate').val('');
                    $('#exp_website').val('');
                    $('#exp_phone').val('');
                    $('#exp_designation').val();
                    $('#exp_institute').focus();
                }
            });
        }
        else {
            alert('Must have to enter intitute, address and designation !!');
        }
    };

    function deleteFromExpList(sl) {
        $.ajax({
            url: '/Employees/DeleteFromExpList',
            method: 'POST',
            data: {
                Sl: sl,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable2 tbody').empty();
                $('#myTable2').find('tbody').append("<tr>" +
                            "<th>" +
                                "<div class=\"input-group\">"+
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_institute\" name = \"ExpInstitute\" placeholder = \"Institute\" />"+
                                "</div>"+                                
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_address\" name = \"EduAddress\" placeholder = \"Address\" />" +
                                "</div>" +
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"exp_fromdate\" name = \"ExpFromDate\" placeholder = \"FromDate\" />" +
                                "</div>" +
                            "</th>" +
                            "<th>" +
                                "<div class=\"input-group\">" +
                                    "<input type=\"date\" class = \"form-control\" style = \"width:100%\" id = \"exp_todate\" name = \"ExpToDate\" placeholder = \"ToDate\" />" +
                                "</div>" +
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_website\" name = \"ExpWebsite\" placeholder = \"Website\" />" +
                                "</div>" +                                
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_phone\" name = \"EduPhone\" placeholder = \"Phone\" />" +
                                "</div>" +                                
                            "</th>" +
                            "<th>" +
                                 "<div class=\"input-group\">" +
                                    "<input type=\"text\" class = \"form-control\" style = \"width:100%\" id = \"exp_designation\" name = \"EduDesignation\" placeholder = \"Designation\" />" +
                                "</div>" +                                
                            "</th>" +
                            "<th>" +
                                "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"addExperience()\"><i class=\"fa fa-plus-square\"></i></button>"+
                            "</th>"+
                        "</tr>")

                for(var i=0; i<response.length; i++){
                    $('#myTable2').find('tbody').append("<tr>"+
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].InstituteName +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].InstituteAddress +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].FromDate +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ToDate +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Website +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Phone +"</label>"+
                                                        "</div>" +
                                                    "</td>" +
                                                                                                            "<td>" +
                                                        "<div class=\"input-group\">" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Designation +"</label>"+
                                                        "</div>" +
                                                    "</td>" +

                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary btn-sm\" aria-expanded=\"false\" onclick=\"deleteFromExpList(" + response[i].Sl + ")\"><i class=\"fa fa-trash-o\"></i></button>"+
                                                    "</td></tr>")
                }
            }
        });
    };
</script>
