@model FTL_HRMS.Models.Hr.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Employee</h1>

        </div>
    </div>
</div>

<header class="panel_header">
    <h2 class="title pull-left">Edit Employee</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    @Html.Partial("~/Views/Shared/WarningMessage.cshtml")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Sl)
                    @Html.HiddenFor(model => model.DesignationId)
                    @Html.HiddenFor(model => model.BranchId)
                    @Html.HiddenFor(model => model.GrossSalary)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.UpdateDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.IsSystemOrSuperAdmin)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.ParmanentDate)
                    @Html.HiddenFor(model => model.IsSpecialEmployee)
                    @Html.HiddenFor(model => model.ProbationStatus)

                    <div class="col-md-offset-8">
                        <div class="btn-group col-md-offset-9">
                            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Employees" )'">Back To List</button>
                        </div>
                    </div>
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">General Information</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle fa fa-chevron-down"></i>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4">
                                        <div>
                                            @Html.LabelFor(model => model.Code, new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 1, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.MothersName, "Mother's Name", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.MothersName, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 4, @required = true } })
                                            @Html.ValidationMessageFor(model => model.MothersName, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Gender, new { @class = "required" })
                                        </div>
                                        @{
                                            List<SelectListItem> listItems = new List<SelectListItem>();
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Male",
                                                Value = "Male",
                                            });
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Female",
                                                Value = "Female"

                                            });
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = "Others",
                                                Value = "Others"
                                            });
                                        }
                                        <div>
                                            @Html.DropDownListFor(model => model.Gender, listItems, "Select Gender", new { @class = "form-control", style = "width:100%", @tabindex = 7, @required = true })
                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.NIDorBirthCirtificate, "NID / Birth Certificate", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.NIDorBirthCirtificate, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 10, @required = true } })
                                            @Html.ValidationMessageFor(model => model.NIDorBirthCirtificate, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.DateOfBirth, "Date Of Birth", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "DateTime", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.EmergencyMobile, "Emergency Contact Number", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.EmergencyMobile, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.EmergencyMobile, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.MedicalHistory, "Medical History", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.MedicalHistory, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.MedicalHistory, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Weight, "Weight", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            @Html.LabelFor(model => model.Name, new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 2, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.PresentAddress, "Present Address", new { @class = "required" })
                                        </div>
                                        <div>
                                            <textarea class="form-control autogrow" cols="5" name="PresentAddress" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 35px;width:100%" id="present_address" required tabindex="5">@Model.PresentAddress</textarea>
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.EmployeeTypeId, "Employee Type", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.DropDownList("EmployeeTypeId", null, "Select Type", htmlAttributes: new { @class = "form-control", style = "width:100%", @tabindex = 16, @required = true })
                                            @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Mobile, new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 8, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.DrivingLicence, "Driving Licence")
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.DrivingLicence, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 11 } })
                                            @Html.ValidationMessageFor(model => model.DrivingLicence, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.DateOfJoining, "Date Of Joining", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.DateOfJoining, new { htmlAttributes = new { @class = "form-control", @type = "DateTime", style = "width:100%", @tabindex = 14, @required = true } })
                                            @Html.ValidationMessageFor(model => model.DateOfJoining, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.RelationEmergencyMobile, "Relation With Emergency Contact", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.RelationEmergencyMobile, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.RelationEmergencyMobile, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.BloodGroup, "Blood Group", new { @class = "required" })
                                        </div>
                                        @{
                                            List<SelectListItem> listItems2 = new List<SelectListItem>();
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "A+",
                                                Value = "A+",
                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "A-",
                                                Value = "A-"

                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "B+",
                                                Value = "B+"
                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "B-",
                                                Value = "B-",
                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "O+",
                                                Value = "O+"

                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "O-",
                                                Value = "O-"
                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "AB+",
                                                Value = "AB+"

                                            });
                                            listItems2.Add(new SelectListItem
                                            {
                                                Text = "AB-",
                                                Value = "AB-"
                                            });
                                        }
                                        <div>
                                            @Html.DropDownListFor(model => model.BloodGroup, listItems2, "--select--", new { @class = "form-control", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            @Html.LabelFor(model => model.FathersName, "Father's Name", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.FathersName, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 3, @required = true } })
                                            @Html.ValidationMessageFor(model => model.FathersName, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.PermanentAddress, "Permanent Address", new { @class = "required" })
                                        </div>
                                        <div>
                                            <textarea class="form-control autogrow" cols="5" name="PermanentAddress" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 35px;width:100%" id="permanent_address" required tabindex="6">@Model.PermanentAddress</textarea>
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Email)
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 9 } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.Label("Passport Number")
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.PassportNumber, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 12 } })
                                            @Html.ValidationMessageFor(model => model.PassportNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.SourceOfHireId, "Source Of Hire", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.DropDownList("SourceOfHireId", null, "Select Source", htmlAttributes: new { @class = "form-control", style = "width:100%", @tabindex = 15, @required = true })
                                            @Html.ValidationMessageFor(model => model.SourceOfHireId, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.ExtraCurricularActivities, "Extra Curricular Activities", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.ExtraCurricularActivities, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.ExtraCurricularActivities, "", new { @class = "text-danger" })
                                        </div>
                                        <div>
                                            @Html.LabelFor(model => model.Height, "Height", new { @class = "required" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @tabindex = 13, @required = true } })
                                            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="margin-left:45%;">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
                }
        </div>
    </div>
</div>
