@model IEnumerable<FTL_HRMS.Models.Hr.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Employee</h1>
        </div>
    </div>
</div>
<header class="panel_header">
    <h2 class="title pull-left">Employee List</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="content-body">
    <div class="row">
        @Html.Partial("~/Views/Shared/WarningMessage.cshtml")
        <div class="col-md-6">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Create", "Employees")'">Add Employee</button>
            </div><br /><br />
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            @{int rowNo = 0;}
            <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Action</th>
                        <th>Password</th>
                        <th>Education</th>
                        <th>Experience</th>
                        <th>Image</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Father's Name
                        </th>
                        <th>
                            Mother's Name
                        </th>
                        <th>
                            Present Address
                        </th>
                        <th>
                            Permanent Address
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            NID or Birth Cirtificate
                        </th>
                        <th>
                            Driving Licence
                        </th>
                        <th>
                            Passport Number
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Date Of Joining
                        </th>
                        <th>
                            Source Of Hire
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Employee Type
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Gross Salary
                        </th>
                        <th>
                            Emergency Contact Number
                        </th>
                        <th>
                            Relation With Emergency Contact
                        </th>
                        <th>
                            Blood Group
                        </th>
                        <th>
                            Medical History
                        </th>
                        <th>
                            Height
                        </th>
                        <th>
                            Weight
                        </th>
                        <th>
                            Extra Curricular Activities
                        </th>

                        <th>
                            Created By
                        </th>
                        <th>
                            Create Date
                        </th>
                        <th>
                            Updated By
                        </th>
                        <th>
                            Update Date
                        </th>
                       
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>SL</th>
                        <th>Action</th>
                        <th>Password</th>
                        <th>Education</th>
                        <th>Experience</th>
                        <th>Image</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Father's Name
                        </th>
                        <th>
                            Mother's Name
                        </th>
                        <th>
                            Present Address
                        </th>
                        <th>
                            Permanent Address
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            NID or Birth Cirtificate
                        </th>
                        <th>
                            Driving Licence
                        </th>
                        <th>
                            Passport Number
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Date Of Joining
                        </th>
                        <th>
                            Source Of Hire
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Employee Type
                        </th>
                        <th>
                            Branch
                        </th>
                        <th>
                            Gross Salary
                        </th>
                        <th>
                            Emergency Contact Number
                        </th>
                        <th>
                            Relation With Emergency Contact
                        </th>
                        <th>
                            Blood Group
                        </th>
                        <th>
                            Medical History
                        </th>
                        <th>
                            Height
                        </th>
                        <th>
                            Weight
                        </th>
                        <th>
                            Extra Curricular Activities
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Create Date
                        </th>
                        <th>
                            Updated By
                        </th>
                        <th>
                            Update Date
                        </th>
                        
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center" width="5%">
                                @(rowNo += 1)
                            </td>
                            <td align="center" width="6%">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">Options <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.Sl })</li>
                                        <li>@Html.ActionLink("Details", "Details", new { id = item.Sl })</li>
                                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.Sl })</li>
                                    </ul>
                                </div>
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" href="#ultraModal-7" onclick="ResetPassword(@item.Code)" aria-expanded="false">Reset Password</button>
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Educations", new { employeeId = item.Sl })'">Education</button>
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Experiences", new { employeeId = item.Sl })'">Experience</button>
                            </td>
                            <td align="center" width="8%">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Images", new { employeeId = item.Sl })'">Image</button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FathersName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MothersName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PresentAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermanentAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NIDorBirthCirtificate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DrivingLicence)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PassportNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfJoining)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SourceOfHire.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Branch.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GrossSalary)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.EmergencyMobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RelationEmergencyMobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BloodGroup)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MedicalHistory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Height)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExtraCurricularActivities)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CreateEmployee.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateDate)
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
            <!-- modal start -->
            @using (Html.BeginForm("ResetPassword", "Employees", FormMethod.Post))
            {
                <div class="modal fade" id="ultraModal-7" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Reset Password</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Employee Code</label>

                                            <input type="text" style="text-align:center" readonly class="form-control" id="field-1" name="field-1">
                                        </div>

                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="field-2" class="control-label">New Password</label>

                                            <input type="password" style="text-align:center" class="form-control" id="field-2" name="field-2">
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- modal end -->
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
function ResetPassword(emp_code) {
    $('#field-1').val(emp_code);
}
</script>