@model FTL_HRMS.Models.Hr.Branch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Branch</h1>
        </div>
    </div>
</div>
<header class="panel_header">
    <h2 class="title pull-left">Branch Details</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="col-md-offset-4">
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Opening Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>

        <dt>
            Ending Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndingTime)
        </dd>

        <dt>
            Late Calculation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLateCalculated)
        </dd>

        <dt>
            Late Consideration Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateConsiderationTime) mins
        </dd>

        <dt>
            Late Consideration Day
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateConsiderationDay) days
        </dd>

        <dt>
            Late Deduction Percentage
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateDeductionPercentage) %
        </dd>

        <dt>
            Overtime Calculation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOvertimeCalculated)
        </dd>

        <dt>
            Overtime Consideration Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimeConsiderationTime) mins
        </dd>

        <dt>
            Overtime Payment Percentage
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimePaymentPercentage) %
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="btn-group" style="margin-left:10%">
            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Branches")'">Back To List</button>
        </div>
        <div class="btn-group" style="margin-left:5%">
            <button type="button" class="btn btn-warning btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Edit", "Branches", new { id = Model.Sl })'">Edit</button>
        </div>
    }
    <br />
</div>
