@model IEnumerable<FTL_HRMS.Models.Hr.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Branch</h1>
        </div>
    </div>
</div>
<header class="panel_header">
    <h2 class="title pull-left">Branch List</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="content-body">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Create", "Branches")'">Add Branch</button>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <button type="button" onclick="location.href='@Url.Action("PrintBranchReport", "Reports")'" target="_blank" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-print"></span> Download PDF
                </button>
            </div>
        </div>
        <br /><br />
        <div class="col-md-12 col-sm-12 col-xs-12">
            @{int rowNo = 0;}
            <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Action</th>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Opening Time
                        </th>
                        <th>
                            Ending Time
                        </th>
                        <th>
                            Late Calculation
                        </th>
                        <th>
                            Late Consideration Time
                        </th>
                        <th>
                            Late Consideration Day
                        </th>
                        <th>
                            Late Deduction Percentage
                        </th>
                        <th>
                            Overtime Calculation
                        </th>
                        <th>
                            Overtime Consideration Time
                        </th>
                        <th>
                            Overtime Payment Percentage
                        </th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>SL</th>
                        <th>Action</th>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Opening Time
                        </th>
                        <th>
                            Ending Time
                        </th>
                        <th>
                            Late Calculation
                        </th>
                        <th>
                            Late Consideration Time
                        </th>
                        <th>
                            Late Consideration Day
                        </th>
                        <th>
                            Late Deduction Percentage
                        </th>
                        <th>
                            Overtime Calculation
                        </th>
                        <th>
                            Overtime Consideration Time
                        </th>
                        <th>
                            Overtime Payment Percentage
                        </th>

                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center" width="5%">
                                @(rowNo += 1)
                            </td>
                            <td align="center" width="6%">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">Options <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.Sl })</li>
                                        <li>@Html.ActionLink("Details", "Details", new { id = item.Sl })</li>
                                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.Sl })</li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OpeningTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndingTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsLateCalculated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LateConsiderationTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LateConsiderationDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LateDeductionPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsOvertimeCalculated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OvertimeConsiderationTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OvertimePaymentPercentage)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>
