@model FTL_HRMS.Models.BranchTransfer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Branch Transfer</h1>
        </div>
    </div>
</div>

<header class="panel_header">
    <h2 class="title pull-left">Edit Branch Transfer</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    @if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["SuccessMsg"]
                        </div>
                    }
                    @if (TempData["WarningMsg"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["WarningMsg"]
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Sl)
                    @Html.HiddenFor(model => model.EmployeeId)
                    <div class="col-md-offset-3">
                        <div class="btn-group col-md-offset-5">
                            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "BranchTransfers" )'">Back To List</button>
                        </div>
                       
                        <div>
                            @Html.LabelFor(model => model.FromBranchId, "From Branch", new { @class = "required" })
                        </div>
                        <div>
                            @Html.Editor("Branch Name", new { htmlAttributes = new { @class = "form-control", style = "width:50%", @id = "branchname", @placeholder = "Branch Name", @required = true , @Value = ViewBag.Branch, @readonly = true } })
                            @Html.ValidationMessageFor(model => model.FromBranchId, "", new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.ToBranchId, "To Branch", new { @class = "required" })
                        </div>
                        <div>
                            @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control", style = "width:50%", @name = "ddl_branch", @id = "ddl_branch" })
                            @Html.ValidationMessageFor(model => model.ToBranchId, "", new { @class = "text-danger" })
                        </div>


                        <div>
                            @Html.LabelFor(model => model.TransferDate, "Transfer Date", new { @class = "required" })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.TransferDate, new { htmlAttributes = new { @class = "form-control", style = "width:50%" } })
                            @Html.ValidationMessageFor(model => model.TransferDate, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9" style="margin-left:180px;">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function GetBranch() {
        $.ajax({
            url: '/BranchTransfers/GetBranch',
            method: 'POST',
            data: {
                empId: $('#employee').val(),
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                if (response[0] == "") {
                    $('#branchname').val("");
                    document.getElementById("branchname").removeAttribute("readonly", true);
                }
                else {
                    $('#branchname').val(response[0]);
                    document.getElementById("branchname").setAttribute("readonly", true);
                }

            }
        });
    };
</script>

<style>
    .required:after {
        content: " *";
        font-weight: bold;
        color: red;
    }
</style>

