@model FTL_HRMS.Models.Hr.DepartmentTransfer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Department Transfer</h1>
        </div>
    </div>
</div>

<header class="panel_header">
    <h2 class="title pull-left">Edit Department Transfer</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>

<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    @if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["SuccessMsg"]
                        </div>
                    }
                    @if (TempData["WarningMsg"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @TempData["WarningMsg"]
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Sl)
                    @Html.HiddenFor(model => model.EmployeeId)
                    <div class="col-md-offset-0">
                        <div class="btn-group col-md-offset-11">
                            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "DepartmentTransfers" )'">Back To List</button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    @Html.LabelFor(model => model.TransferDate, "Transfer Date", new { @class = "required" })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.TransferDate, new { htmlAttributes = new { @class = "form-control", style = "width:100%", @required = true } })
                                    @Html.ValidationMessageFor(model => model.TransferDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    @Html.Label("From Department Group", new { @class = "required" })
                                </div>

                                <div>
                                    @Html.Editor("Department Group", new { htmlAttributes = new { @class = "form-control", style = "width:100%", @id = "departmentGroupName", @placeholder = "Department Group", @required = true, @Value = ViewBag.DepartmentGroup, @readonly=true } })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    @Html.Label("From Department", new { @class = "required" })
                                </div>

                                <div>
                                    @Html.Editor("Department", new { htmlAttributes = new { @class = "form-control", style = "width:100%", @id = "departmentName", @placeholder = "Department", @required = true, @Value = ViewBag.Department, @readonly = true } })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    @Html.Label("From Designation", new { @class = "required" })
                                </div>

                                <div>
                                    @Html.Editor("Designation", new { htmlAttributes = new { @class = "form-control", style = "width:100%", @id = "designationName", @placeholder = "Designation", @required = true, @Value = ViewBag.Designation, @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.FromDesignationId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    @Html.Label("To Department Group", new { @class = "required" })
                                </div>

                                <div>
                                    @Html.DropDownList("DepartmentGroupId", null, "Select Group", htmlAttributes: new { @class = "form-control", style = "width:100%", @id = "ddl_deptgroup", @name = "ddl_deptgroup", @onchange = "LoadDepartment();", @required = true })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    @Html.Label("To Department", new { @class = "required" })
                                </div>

                                <select class="form-control" style="width:100%" id="ddl_dept" name="ddl_dept" onchange="LoadDesignation();" tabindex=20 required>
                                    <option value="">Select Department</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    @Html.Label("To Designation", new { @class = "required" })
                                </div>

                                <select class="form-control" style="width:100%" id="ddl_designation" name="ddl_designation" tabindex=21 required>
                                    <option value="" selected>Select Designation</option>
                                </select>
                            </div>
                        </div>

                        <br />
                        <center>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-9" style="margin-left:180px;">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    
    function LoadDepartment() {
        $.ajax({
            url: '/Departments/GetDepartmentByGroupId',
            method: 'POST',
            data: {
                DepartmentGroupId: $('#ddl_deptgroup').val(),
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#ddl_dept').empty();
                $('#ddl_dept').append($('<option>', {
                    value: '',
                    text: 'Select Department'
                }));
                for (var i = 0; i < response.length; i++) {
                    var opt = new Option(response[i].Name, response[i].Sl);
                    $('#ddl_dept').append(opt);
                }
            }
        });
    };

    function LoadDesignation() {
        $.ajax({
            url: '/Designations/GetDesignationByDeptId',
            method: 'POST',
            data: {
                DepartmentId: $('#ddl_dept').val(),
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#ddl_designation').empty();
                $('#ddl_designation').append($('<option>', {
                    value: '',
                    text: 'Select Designation'
                }));
                for (var i = 0; i < response.length; i++) {
                    var opt = new Option(response[i].Name, response[i].Sl);
                    $('#ddl_designation').append(opt);
                }
            }
        });
    };

</script>
