@model IEnumerable<FTL_HRMS.Models.Payroll.MonthlyAttendance>

@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
@using (Html.BeginForm())
{
    <header class="panel_header">
        <h2 class="title pull-left">Selection</h2>
        <div class="actions panel_actions pull-right">
            <i class="box_toggle fa fa-chevron-down"></i>
        </div>
    </header>
    <br /> <br />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <div><label class="form-label"> Select Department Group:</label></div>
                        <div>@Html.DropDownList("DepartmentGroupId", null, "--All--", htmlAttributes: new { @class = "form-control", style = "width:100%", @id = "ddl_deptgroup", @name = "ddl_deptgroup", @onchange = "LoadDepartment();" })</div>
                    </div>
                    <div class="col-md-4">
                        <div><label class="form-label">  Select Department:</label></div>
                        <div>
                            <select class="form-control"  id="ddl_dept" name="ddl_dept" tabindex=20>
                                <option value="">--All--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="date">Date</label>
                            <div>
                                <input type="text" id="date" name="Date" class="form-control datepicker" data-start-view="2" >
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            <div class="col-md-offset-2" style="margin-left:45%">
                <input type="submit" value="Submit" name="Submit" class="btn btn-info" />
            </div>
            </div>
        </div>
}
<header class="panel_header">
    <h2 class="title pull-left">List Of Employee</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>
<br /> <br />
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @{int rowNo = 0;}
            <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">

                <thead>
                    <tr>
                        <th style="text-align:center">SL</th>
                        <th data-priority="1" style="text-align:center">Code</th>
                        <th data-priority="1" style="text-align:center">Name</th>
                        <th data-priority="3" style="text-align:center">Phone</th>
                        <th data-priority="1" style="text-align:center">Designation</th>
                        <th data-priority="6" style="text-align:center">Status</th>
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center" width="5%">
                                @(rowNo += 1)
                            </td>

                            <td width="10%" align="center">
                                @Html.DisplayFor(modelItem => item.Employee.Code)
                            </td>
                            <td width="10%" align="center">
                                @Html.DisplayFor(modelItem => item.Employee.Name)
                            </td>
                            <td width="10%" align="center">
                                @Html.DisplayFor(modelItem => item.Employee.Mobile)
                            </td>
                            <td width="10%" align="center">
                                @Html.DisplayFor(modelItem => item.Employee.Designation.Name)
                            </td>
                            <td width="10%" align="center">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td align="center" width="8%">
                                @if (item.Status == "A")
                                {
                                    <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Edit", "MonthlyAttendances", new { id = item.Sl })'">Present</button>
                                }
                            </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>


<script>
    function LoadDepartment() {
        $.ajax({
            url: '/Departments/GetDepartmentByGroupId',
            method: 'POST',
            data: {
                DepartmentGroupId: $('#ddl_deptgroup').val(),
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#ddl_dept').empty();
                $('#ddl_dept').append($('<option>', {
                    value: '',
                    text: '--All--'
                }));
                for (var i = 0; i < response.length; i++) {
                    var opt = new Option(response[i].Name, response[i].Sl);
                    $('#ddl_dept').append(opt);
                }
            }
        });
    };

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>
