@model IEnumerable<FTL_HRMS.Models.Payroll.MonthlyAttendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCalculated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCalculated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sl }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
