@using System.Web.UI.WebControls
@model FTL_HRMS.Models.Payroll.Company

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Company</h1>
        </div>
    </div>
</div>

<header class="panel_header">
    <h2 class="title pull-left">Edit Company Information</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
    </div>
</header>
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    @Html.Partial("~/Views/Shared/WarningMessage.cshtml")
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Sl)
                    <div class="col-md-offset-1">
                        <div class="col-md-6">
                            <div>
                                @Html.LabelFor(model => model.Name, new { @class = "required" })
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "width:80%", @required = true } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Email)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Phone)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.AlternativeMobile, "Alternative Mobile")
                            </div>
                            <div>
                                @Html.EditorFor(model => model.AlternativeMobile, new { htmlAttributes = new { @class = "form-control", style = "width:80%"} })
                                @Html.ValidationMessageFor(model => model.AlternativeMobile, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.RegistrationDate, "Registration Date")
                            </div>
                            <div>
                                @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control datepicker", @type = "DateTime", style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.StartingDate, "Starting Date")
                            </div>
                            <div>
                                @Html.EditorFor(model => model.StartingDate, new {htmlAttributes = new {@class = "form-control datepicker", @type = "DateTime", style = "width:80%"}})
                                @Html.ValidationMessageFor(model => model.StartingDate, "", new {@class = "text-danger"})
                            </div>


                            <div>
                                @Html.LabelFor(model => model.EarnLeaveCountDay, "Earn Leave Count Day")
                            </div>
                            <div>
                                @Html.EditorFor(model => model.EarnLeaveCountDay, new { htmlAttributes = new { @class = "form-control", style = "width:80%", PlaceHolder = "Ex: 14", type = "number", required = "true" } })
                                @Html.ValidationMessageFor(model => model.EarnLeaveCountDay, "", new { @class = "text-danger" })
                            </div>
                            <br />
                        </div>

                        <div class="col-md-6">
                            <div>
                                @Html.LabelFor(model => model.Address, new { @class = "required" })
                            </div>
                            <div>
                                <textarea class="form-control autogrow" cols="5" name="Address" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 35px; width:80%" id="address" required>@ViewBag.Address</textarea>
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Website)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control", style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Mobile)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.RegistrationNo, "Registration No")
                            </div>
                            <div>
                                @Html.EditorFor(model => model.RegistrationNo, new { htmlAttributes = new { @class = "form-control", style = "width:80%" } })
                                @Html.ValidationMessageFor(model => model.RegistrationNo, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.TINNumber, "TIN Number")
                            </div>
                            <div>
                                @Html.EditorFor(model => model.TINNumber, new {htmlAttributes = new {@class = "form-control", style = "width:80%"}})
                                @Html.ValidationMessageFor(model => model.TINNumber, "", new {@class = "text-danger"})
                            </div>

                            <div>
                                @Html.LabelFor(model => model.EarnLeaveDuration, "Earn Leave Duration in Month")
                            </div>
                            <div>
                                @Html.EditorFor(model => model.EarnLeaveDuration, new {htmlAttributes = new {@class = "form-control", style = "width:80%", PlaceHolder = "Ex: 6", type = "number", required = "true"} })
                                @Html.ValidationMessageFor(model => model.EarnLeaveDuration, "", new {@class = "text-danger"})
                            </div>

                            <br />
                        </div>
                    </div>
                    <center>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </div>
                        </div>
                    </center>
                </div>
            }
         </div>
    </div>
</div>