@{

    List<FTL_HRMS.Models.ViewModels.VMNotification> notifyList = new List<FTL_HRMS.Models.ViewModels.VMNotification>();
    if (Session["NotifyList"] != null)
    {
        notifyList = (List<FTL_HRMS.Models.ViewModels.VMNotification>)Session["NotifyList"];
    }

}
<a href="#" data-toggle="dropdown" class="toggle">
    <i class="fa fa-bell"></i>
    <span class="badge badge-orange" style="color: black ">@notifyList.Count</span>
</a>
<ul class="dropdown-menu notifications animated fadeIn">
    <li class="total">
        <span class="small">
            You have <strong>@notifyList.Count</strong>  pending notification .
        </span>
    </li>
    <li class="list" style="height: 400px; width: 550px;">

        <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
            @{int rowNo = 0;}

            <thead>
                <tr>
                    <th data-priority="1">SL</th>
                    <th data-priority="2">Employee Name </th>
                    <th data-priority="3">Date</th>
                    <th data-priority="4">Type</th>
                    <th data-priority="5">Status</th>
                    @if (!User.IsInRole("Employee"))
                    {
                        <th data-priority="6">Action</th>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var leave in notifyList)
                {
                    <tr>
                        <td align="center">
                            @(rowNo += 1)
                        </td>
                        <td> @leave.EmployeeCode</td>
                        <td> @leave.Date</td>
                        <td> @leave.Type</td>
                        <td> @leave.Status</td>
                        @if (!User.IsInRole("Employee"))
                        {
                            if (@leave.Type == "Leave")
                            {
                                if (@leave.Status == "Recommended")
                                {
                                    <td align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("LeaveApproval", "LeaveHistories")'">Details</button>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("LeaveRecommendation", "LeaveHistories")'">Details</button>
                                        </div>
                                    </td>
                                }

                            }
                            else if (@leave.Type == "Resign")
                            {
                                <td align="center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("ResignationApproval", "Resignations")'">Details</button>
                                    </div>
                                </td>
                            }
                            else if (@leave.Type == "Loan")
                            {
                                <td align="center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("LoanApproval", "Loans")'">Details</button>
                                    </div>
                                </td>
                            }
                            else
                            {

                            }
                        }
                        @if (User.IsInRole("Department Head")|| User.IsInRole("Employee") && @leave.Type == "Loan")
                        {
                        <td align="center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "Loans")'">Details</button>
                            </div>
                        </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </li>
</ul>